{% extends 'base.html.twig' %}

{% block title "Contact" %}

{% block body %}

	<div class="contact-form row justify-content-center">
		<div class="col-xs-12 col-lg-6">
			<div class="title mx-auto align-items-center">
				<h1 class="text-center font-weight-bold">
					Contactez-moi
				</h1>
			</div>
			<div class="content-block">
				{{ form_start(form) }}
				<div class="row">
					<div class="col">{{ form_row(form.firstname)}}
					</div>
					<div class="col">{{ form_row(form.lastname)}}
					</div>
				</div>
				<div>{{ form_row(form.society)}}</div>
				<div>{{ form_row(form.phone)}}</div>
				{{ form_end(form) }}
			</div>

		</div>
	</div>
{% endblock %}
