<section class="images-slide">
	<h3>Cadrage du projet</h3>

	<div
		id="myCarousel" class="carousel slide" data-ride="carousel">

		{# Indicators #}
		<ol class="carousel-indicators">
			{% for p in post.pictures|filter(p => p.sortOrder != 1) %}
				{% if loop.first %}
					{% set active = 'active' %}
				{% else %}
					{% set active = '' %}
				{% endif %}
				<li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="{{ active }}"></li>
			{% endfor %}
		</ol>

		<div class="carousel-inner">
			{% for p in post.pictures|filter(p => p.sortOrder != 1) %}
				{% if loop.first %}
					{% set active = 'active' %}
				{% else %}
					{% set active = '' %}
				{% endif %}
				{# carousel item #}
				<div class="carousel-item {{active}}">
					<a href="#" class="overlay-image" style="background-image:url('../../img/{{p.name}}');"></a>
					<div class="container">
						<h4>{{p.title}}</h4>
						<p>{{p.description}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		{# Controls #}
		<a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
</section>
