{% extends 'base.html.twig' %}

{% block title %}
	Formulaire de création d'un post
{% endblock %}

{% block body %}

	<h1 class="display-5 font-weight-bold text-center my-4">
		Formulaire de création d'un post
	</h1>

	<div class="row justify-content-center">
		<div class="col-sm-10 col-md-8 col-lg-6">
			{{ form_start(form)}}
			{{ form_row(form.title) }}
			{{ form_row(form.heading) }}
			{{ form_row(form.description) }}
			{{ form_row(form.pictures) }}
			{{ form_row(form.link) }}
			{{ form_row(form.githubLink) }}
			{{ form_row(form.documentation) }}
			<div class="row">
				{% for skill in form.skills %}
					<div class="col-sm-3">
						{{form_row(skill)}}
					</div>
				{% endfor %}
			</div>
			<div class="col d-flex justify-content-end align-items-center form-group">
				{{ form_widget(form.submit)}}
			</div>

			{{ form_end(form)}}

		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$('.custom-file-input').on('change', function (e) { // get the file name
var fileName = e.target.files[0].name;
// replace the "Choose a file" label
$(this).next('.custom-file-label').html(fileName);
})
	</script>
{% endblock %}
