{% extends 'base.html.twig' %}

{% block title "Tous les articles"%}


{% block body %}

	<h1 class="display-5 font-weight-bold text-center my-4">
		Tous les articles
	</h1>

	<div class="button new_post">
		<a class="btn btn-primary" href="{{ path('post_new') }}">Nouvel article</a>
	</div>

	{% for post in posts %}

		<h3>{{post.title}}</h3>
		Ajouté le
		<h4>{{post.createdAt|date('d/m/Y') }}
			ID:
			{{post.id}}
		</h4>
		<p>{{post.description}}</p>
		{% if app.user %}
			<a class="btn btn-primary" href="{{ path('post_update', {id:post.id}) }}">Modifier</a>
			<a class="btn btn-primary" href="{{ path('post_delete', {id:post.id}) }}">Supprimer</a>
		{% endif %}
	{% endfor %}


{% endblock %}
