{% extends 'base.html.twig' %}

{% block title "Tous les articles"%}

{% block jumbotron %}
	<div class="posts-header">
		<h1>Projets</h1>
	</div>
{% endblock %}

{% block body %}

	<section class="posts">
		{% if app.user %}
			<div class="button new_post_btn">
				<a class="btn btn-primary" href="{{ path('post_new') }}">Nouvel article</a>
			</div>
		{% endif %}
		{% for post in posts %}

			{% set order = 1 %}
			{% set mainPicture = null %}
			{% set defaultPicture = asset('img/default-image.png') %}
			{# loop in pictures to find picture with sort_order = 1 #}
			{% for picture in post.pictures %}
				{% if picture.sortOrder == 1 %}
					{% set mainPicture = picture %}
				{% endif %}
			{% endfor %}

			<div class="post">

				<div class="text">
					<div class="half1">
						<div class="deco_line"></div>
						<h4>
							<a href="{{ path( 'post_show', { id: post.id } ) }}">{{post.title}}</a>
						</h4>
						<h5>{{post.heading }}</h5>
					</div>
					<div class="half2">

						{% for skill in post.skills | icon_url %}
							<img class="skill" src="{{ asset(skill) }}" alt="icon technology">
						{% endfor %}
					</div>
				</div>

				<div class="img">
					<a href="{{ path( 'post_show', { id: post.id } ) }}">
						<img src="{{ '/img/' ~ mainPicture.name|default('../img/default-image.png') }}" alt="Une image de l'article ">
					</a>
				</div>
				{% if app.user %}
					<button>
						<a href="{{ path('post_update', { id: post.id }) }}" class="p-1">
							<i class="fas fa-pencil-alt fa-lg mr-2"></i>
						</a>
						<a href="{{ path('post_desactivate', { id: post.id }) }}" onclick="return confirm('Êtes-vous certain de vouloir désactiver cet article ?')" class="p-1" data-delete>
							<i class="fas fa-trash-alt fa-lg"></i>
						</a>
					</button>
				{% endif %}
			</div>
		{% endfor %}
	</section>
{% endblock %}
