{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}


{% block body %}

	{% set order = 1 %}


	{% set mainPicture = null %}
	{% set defaultPicture = asset('img/default-image.png') %}
	{# loop in pictures to find picture with sort_order = 1 #}
	{% for picture in post.pictures %}
		{% if picture.sortOrder == 1 %}
			{% set mainPicture = picture %}
		{% endif %}
	{% endfor %}

	<div class="post-wrapper">
		<header class="post-header">
			<div class="overlay" style="background-image: url('{{ '/img/' ~ mainPicture.name|default('../img/default-image.png') }}')" alt="Une image de l'article "></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<div class="post-heading text-center">
							<h1 class="h1 text-center">{{post.title}}</h1>
							<h2 class="h2 text-center subheading">{{post.heading}}</h2>
							<span class="meta text-muted">Posté par
								{{post.author.firstname}}&nbsp{{post.author.lastname}}
								&nbsp le &nbsp{{post.createdAt|date('d/m/y')}}&nbsp à &nbsp{{post.createdAt|date('H:i')}}
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="picture-buttons">
				{% if mainPicture  and app.user%}
					<a data-toggle="collapse" href={{"#update_picture_input" ~ mainPicture.id }} role="button" aria-expanded="false" aria-controls={{"update_picture_input" ~ mainPicture.id }}>
						<i class="fas fa-pencil-alt fa-2x" title="remplacer l'image"></i>
					</a>
					<a href="{{ path('picture_delete', { id: mainPicture.id }) }}" data-delete>
						<i class="fas fa-trash-alt fa-2x" title="supprimer l'image"></i>
					</a>
				{% endif %}
			</div>

			{#!---------UPDATE PICTURE HIDDEN INPUT---------#}
			<div class="collapse" id={{"update_picture_input" ~ mainPicture.id|default('') }}>
				<input type="file"/>
				<div hidden>{{ mainPicture.id|default('') }}</div>
				<div hidden>{{ post.id }}</div>
				<div hidden>{{ mainPicture.sortOrder|default('') }}</div>
				<!-- Picture sortOrder -->
				<button data-update>Envoyer</button>
			</div>
		</header>

		<section class="post-content mx-auto">
			<h3 class="text-center">Contexte & description</h3>
			<p class="lead">
				{{ post.description|nl2br }}
			</p>
			<h3 class="text-center">Technologies</h3>

			<div class="skill-icons">
				{% for skill in skills %}
					<img src="{{skill}}" alt="icon technology">
				{% endfor %}
			</div>

			<a class="btn btn-primary btn-circle btn-xl app-button" href={{post.link}} data-toggle="tooltip" data-placement="top" title="Voir l'application">
				<i class="far fa-play-circle fa-3x"></i>
			</a>
			{% if app.user %}
				<a class="btn btn-lg btn-primary" href="{{ path('post_update', {id:post.id}) }}">Modifier</a>
				<a class="btn btn-lg btn-primary" href="{{ path('post_desactivate', {id:post.id}) }}" onclick="return confirm('Êtes-vous certain de vouloir désactiver cet article ?')">Supprimer</a>
			{% endif %}
		</section>

		{# TODO compteur nombres images cadrage  (diagrammes) dans une boucle pour utiliser dans le slide
																																																			{% set imagesCount =  %}
																																																			#}
		<section class="images-slide">
			<h3 class="text-center">Cadrage du projet</h3>

			<div
				id="myCarousel" class="carousel slide" data-ride="carousel">

				{# Indicators #}
				<ol class="carousel-indicators">
					{% for p in post.pictures|filter(p => p.sortOrder != 1) %}
						{% if loop.first %}
							{% set active = 'active' %}
						{% else %}
							{% set active = '' %}
						{% endif %}
						<li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="{{ active }}"></li>
					{% endfor %}
				</ol>

				<div class="carousel-inner">
					{% for p in post.pictures|filter(p => p.sortOrder != 1) %}
						{% if loop.first %}
							{% set active = 'active' %}
						{% else %}
							{% set active = '' %}
						{% endif %}
						{# carousel item #}
						<div class="carousel-item {{active}}">
							<div class="overlay-image" style="background-image:url('../../img/{{p.name}}');"></div>
							<div class="container">
								<h4>{{p.title}}</h4>
								<p>{{p.description}}</p>
							</div>
						</div>
					{% endfor %}
				</div>
				{# Controls #}
				<a href="#myCarousel" class="carousel-control-prev" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>
				<a href="#myCarousel" class="carousel-control-next" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>
			</div>
		</section>
	</div>

{% endblock %}
{% block javascripts %}
	<script src=" {{ asset('js/media_delete.js') }} "></script>
	<script src=" {{ asset('js/media_update.js') }} "></script>
{% endblock %}
