{% extends 'base.html.twig' %}

{% block title %}
	{{post.title}}
{% endblock %}


{% block body %}

	{% set order = 1 %}


	{% set mainPicture = null %}
	{% set defaultPicture = asset('img/default-image.png') %}
	{# loop in pictures to find picture with sort_order = 1 #}
	{% for picture in post.pictures %}
		{% if picture.sortOrder == 1 %}
			{% set mainPicture = picture %}
		{% endif %}
	{% endfor %}

	<div class="post-wrapper">
		<header class="post-header">
			<div class="overlay" style="background-image: url('{{ '/img/' ~ mainPicture.name|default('../img/default-image.png') }}')" alt="Une image de l'article "></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 text-center mx-auto">
						<h1 class="h1 mt-4 font-weight-bold">{{post.title}}</h1>
						<h2 class="h2 subheading">{{post.heading}}</h2>
						<span class="meta text-muted">Posté par
							{{post.author.firstname}}&nbsp{{post.author.lastname}}
							&nbsp le &nbsp{{post.createdAt|date('d/m/y')}}&nbsp à &nbsp{{post.createdAt|date('H:i')}}
						</span>
					</div>
				</div>
			</div>

			<div class="picture-buttons">
				{% if mainPicture  and app.user%}
					<a data-toggle="collapse" href={{"#update_picture_input" ~ mainPicture.id }} role="button" aria-expanded="false" aria-controls={{"update_picture_input" ~ mainPicture.id }}>
						<i class="fas fa-pencil-alt fa-2x" title="remplacer l'image"></i>
					</a>
					<a href="{{ path('picture_delete', { id: mainPicture.id }) }}" data-delete>
						<i class="fas fa-trash-alt fa-2x" title="supprimer l'image"></i>
					</a>
				{% endif %}
			</div>

			{#!---------UPDATE PICTURE HIDDEN INPUT---------#}
			<div class="collapse" id={{"update_picture_input" ~ mainPicture.id|default('') }}>
				<input type="file"/>
				<div hidden>{{ mainPicture.id|default('') }}</div>
				<div hidden>{{ post.id }}</div>
				<div hidden>{{ mainPicture.sortOrder|default('') }}</div>
				<!-- Picture sortOrder -->
				<button data-update>Envoyer</button>
			</div>
		</header>

		<section class="post-content mx-auto">
			<div class="col text-center">
				<h3 class="h3 font-weight-bold">Contexte & description</h3>
				<p class="lead text-left">
					{{ post.description|raw | nl2br}}
				</p>
				<h3 class="h3 font-weight-bold">Technologies</h3>

				<div class="row-cols-4 skill-icons">
					{% for skill in skills %}
						<img class="col mx-auto my-3 h-auto" src="{{skill}}" alt="icon technology">
					{% endfor %}
				</div>

			</div>
			{% if post.link is not null %}
				<a class="btn btn-primary btn-circle btn-xl app-button" href={{post.link}} data-toggle="tooltip" data-placement="top" title="Voir l'application">
					<i class="far fa-play-circle fa-3x"></i>
				</a>
			{% endif %}
		</section>

		<div class="row-cols-4 justify-content-center">
			<div class="col mx-auto my-4">
				{% if post.githubLink %}
					<a class="btn btn-primary" href="{{ post.githubLink }}">
						<i class="fab fa-github fa-2x"></i>
					</a>
					Code source
				{% endif %}
			</div>
			<div class="col mx-auto my-4">
				{% if post.documentation %}
					<a class="btn btn-primary" href="{{ post.documentation }}">
						<i class="fas fa-book-reader fa-2x"></i>
					</a>
					Documentation
				{% endif %}
			</div>


			{% if app.user %}
				<div class="col mx-auto my-4">
					<a class="btn btn-sm btn-primary" href="{{ path('post_update', {id:post.id}) }}">Modifier</a>
				</div>
				<div class="col mx-auto my-4">
					<a class="btn btn-sm btn-primary" href="{{ path('post_desactivate', {id:post.id}) }}" onclick="return confirm('Êtes-vous certain de vouloir désactiver cet article ?')">Supprimer</a>
				</div>

			{% endif %}
		</div>

		{% if post.pictures | length > 1 %}
			{% include "twig_parts/slide.html.twig" %}
			{% elseif app.user %}

		{% endif %}
	</div>

{% endblock %}
{% block javascripts %}
	<script src=" {{ asset('js/media_delete.js') }} "></script>
	<script src=" {{ asset('js/media_update.js') }} "></script>
{% endblock %}
